In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("1.4_houses.csv")
df.head(20)

    dim_1  dim_2   level   price
0      29     28  luxury  2212.0
1      28     29  luxury  2203.0
2       6      9   basic   254.0
3       5      9   basic   242.0
4       6      6   basic   195.0
5       5      8   basic   200.0
6      27     29  luxury  2108.0
7      23     14  medium   998.0
8       9      5   basic   225.0
9      29     26  luxury  2052.0
10     29     26  luxury  2042.0
11     29     29  luxury  2285.0
12      5      7   basic   170.0
13     21     11  medium   793.0
14     29     27  luxury  2130.0
15      8      9   basic   337.0
16     27     27  luxury  1981.0
17     26     29  luxury  2046.0
18     15     14  medium   728.0
19     23     20  medium  1372.0

In [4]:
from sklearn.tree import DecisionTreeClassifier, export_text

In [5]:
X = df[["dim_1", "dim_2"]]
y = df["level"]

In [6]:
cl = DecisionTreeClassifier().fit(X, y)

In [7]:
print(export_text(cl))

|--- feature_0 <= 10.00
|   |--- class: basic
|--- feature_0 >  10.00
|   |--- feature_1 <= 25.00
|   |   |--- class: medium
|   |--- feature_1 >  25.00
|   |   |--- class: luxury

In [10]:
cl.predict(X[7:9]), y[7]

(array(['medium', 'basic'], dtype=object), 'medium')